* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  height: 100%;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
}

.header {
  width: 100%;
  height: 56px;
  font-size: 0;
  background: yellowgreen;
}
.all {
  width: 100%;
  height: 100%;
}
.header_left {
  width: 240px;
  height: 56px;
  font-size: 1rem;
  background: white;
  float: left;
}
.header_left img {
  width: 80px;
  line-height: 24px;
  transform: translate(55%, 105%);
}
.header_left p {
  transform: translate(60%, -75%);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #606060;
}
.header_center {
  width: calc(100% - 480px);
  height: 56px;
  background: white;
  float: left;
}
.header_center .search_total {
  width: 640px;
  height: 32px;
  transform: translate(64%, 25%);
}
.header_center .search {
  width: 542px;
  height: 26px;
  padding: 2px 6px;
  position: relative;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px #eee;
}
.header_center .button {
  cursor: pointer;
  width: 65px;
  height: 32px;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  border-radius: 0 2px 2px 0;
  margin: 0;
}
.header_right {
  width: 240px;
  height: 56px;
  font-size: 1rem;
  background: white;
  float: right;
}
.header_right .icon {
  padding: 0 10px;
  width: 60px;
  height: 35px;
  border-style: solid;
  border-color: #065fd4;
  border-width: 1px;
  text-align: center;
  line-height: 35px;
  transform: translate(175%, -20%);
}
.container {
  /* height: calc(100% - 56px); */
  position: absolute;
  top: 56px;
}
.row {
  width: 100%;
  height: 100%;
  font-size: 0;
  background: violet;
}

.col_left {
  font-size: 1rem;
  box-sizing: border-box;
  /*padding:5rem 1rem;*/
  width: 240px;
  height: 900px;
  background: white;
  /*color: rgb(255, 255, 255);*/
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}
.col_left .first {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 12px 0;
  display: block;
  height: 120px;
}
.col_left .second {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 12px 0;
  display: block;
  height: 80px;
}
.col_left .third {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 12px 0;
  display: block;
  height: 78px;
}
.col_left .forth {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 12px 0;
  display: block;
  height: 275px;
}
.col_left .fifth {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 12px 0;
  display: block;
  height: 32px;
}
.col_left .sixth {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 12px 0;
  display: block;
  height: 115px;
}
.col_left .seventh {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  padding: 12px 0;
  display: block;
  height: 160px;
}
.col_left .eighth {
  padding: 12px 0;
}
.col_left .eighth .eighth_font {
  font-size: 13px;
  text-align: left;
  transform: translate(15%);
}
.col_right {
  font-size: 1rem;
  /* box-sizing: border-box; */
  /*padding:5rem 1rem;*/
  width: calc(100% - 240px);
  height: 100%;
  background: #f9f9f9;
  float: left;
}

.col {
  background: white;
  margin: 5px;
  margin-top: 24px;
  left: 100px;
  float: left;
  position: relative;
}

.col img {
  width: 360px;
  height: 202px;
}

.icon {
  padding: 0 10px;
  width: 60px;
  height: 30px;
  border-style: solid;
  border-color: #065fd4;
  border-width: 1px;
  text-align: center;
  line-height: 30px;
  transform: translate(50%, 25%);
}
.pic_icon {
  background: url("../images/icon.jpg");
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}
